<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Country</key>
	<array>
		<dict>
			<key>Name</key>
			<string>United States</string>
			<key>Code</key>
			<string>+1</string>
			<key>Flag</key>
			<string>US.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>China</string>
			<key>Code</key>
			<string>+86</string>
			<key>Flag</key>
			<string>CN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>France</string>
			<key>Code</key>
			<string>+33</string>
			<key>Flag</key>
			<string>FR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Germany</string>
			<key>Code</key>
			<string>+49</string>
			<key>Flag</key>
			<string>DE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>India</string>
			<key>Code</key>
			<string>+91</string>
			<key>Flag</key>
			<string>IN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Japan</string>
			<key>Code</key>
			<string>+81</string>
			<key>Flag</key>
			<string>JP.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pakistan</string>
			<key>Code</key>
			<string>+92</string>
			<key>Flag</key>
			<string>PK.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>United Kingdom</string>
			<key>Code</key>
			<string>+44</string>
			<key>Flag</key>
			<string>GB.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Afghanistan</string>
			<key>Code</key>
			<string>+93</string>
			<key>Flag</key>
			<string>AF.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Albania</string>
			<key>Code</key>
			<string>+355</string>
			<key>Flag</key>
			<string>AL.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Algeria</string>
			<key>Code</key>
			<string>+213</string>
			<key>Flag</key>
			<string>DZ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>American Samoa</string>
			<key>Code</key>
			<string>+1684</string>
			<key>Flag</key>
			<string>AS.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Andorra</string>
			<key>Code</key>
			<string>+376</string>
			<key>Flag</key>
			<string>AD.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Angola</string>
			<key>Code</key>
			<string>+244</string>
			<key>Flag</key>
			<string>AO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Anguilla</string>
			<key>Code</key>
			<string>+1624</string>
			<key>Flag</key>
			<string>AI.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Barbuda</string>
			<key>Code</key>
			<string>+1268</string>
			<key>Flag</key>
			<string>AG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Argentina</string>
			<key>Code</key>
			<string>+54</string>
			<key>Flag</key>
			<string>AR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Armenia</string>
			<key>Code</key>
			<string>+374</string>
			<key>Flag</key>
			<string>AM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Aruba</string>
			<key>Code</key>
			<string>+297</string>
			<key>Flag</key>
			<string>AW.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Norfolk Island</string>
			<key>Code</key>
			<string>+672</string>
			<key>Flag</key>
			<string>NF.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Austria</string>
			<key>Code</key>
			<string>+43</string>
			<key>Flag</key>
			<string>AT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Azerbaijan</string>
			<key>Code</key>
			<string>+994</string>
			<key>Flag</key>
			<string>AZ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bahamas</string>
			<key>Code</key>
			<string>+1242</string>
			<key>Flag</key>
			<string>BS.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bahrain</string>
			<key>Code</key>
			<string>+973</string>
			<key>Flag</key>
			<string>BH.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bangladesh</string>
			<key>Code</key>
			<string>+880</string>
			<key>Flag</key>
			<string>BD.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Barbados</string>
			<key>Code</key>
			<string>+1246</string>
			<key>Flag</key>
			<string>BB.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Belarus</string>
			<key>Code</key>
			<string>+375</string>
			<key>Flag</key>
			<string>BY.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Belgium</string>
			<key>Code</key>
			<string>+32</string>
			<key>Flag</key>
			<string>BE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Belize</string>
			<key>Code</key>
			<string>+501</string>
			<key>Flag</key>
			<string>BZ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Benin</string>
			<key>Code</key>
			<string>+229</string>
			<key>Flag</key>
			<string>BJ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bermuda</string>
			<key>Code</key>
			<string>+1441</string>
			<key>Flag</key>
			<string>BM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bhutan</string>
			<key>Code</key>
			<string>+975</string>
			<key>Flag</key>
			<string>BT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bolivia</string>
			<key>Code</key>
			<string>+591</string>
			<key>Flag</key>
			<string>BO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bosnia and Herzegovina</string>
			<key>Code</key>
			<string>+387</string>
			<key>Flag</key>
			<string>BA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Botswana</string>
			<key>Code</key>
			<string>+267</string>
			<key>Flag</key>
			<string>BW.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Brazil</string>
			<key>Code</key>
			<string>+55</string>
			<key>Flag</key>
			<string>BR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>British Virgin Islands</string>
			<key>Code</key>
			<string>+1284</string>
			<key>Flag</key>
			<string>VG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Brunei</string>
			<key>Code</key>
			<string>+673</string>
			<key>Flag</key>
			<string>BN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Bulgaria</string>
			<key>Code</key>
			<string>+359</string>
			<key>Flag</key>
			<string>BX.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Burkina Faso</string>
			<key>Code</key>
			<string>+226</string>
			<key>Flag</key>
			<string>BF.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Burundi</string>
			<key>Code</key>
			<string>+257</string>
			<key>Flag</key>
			<string>BI.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cambodia</string>
			<key>Code</key>
			<string>+855</string>
			<key>Flag</key>
			<string>KH.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cameroon</string>
			<key>Code</key>
			<string>+237</string>
			<key>Flag</key>
			<string>CM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cape Verde</string>
			<key>Code</key>
			<string>+238</string>
			<key>Flag</key>
			<string>CV.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cayman Islands</string>
			<key>Code</key>
			<string>+1345</string>
			<key>Flag</key>
			<string>KY.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Central African Republic</string>
			<key>Code</key>
			<string>+236</string>
			<key>Flag</key>
			<string>CF.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Chad</string>
			<key>Code</key>
			<string>+235</string>
			<key>Flag</key>
			<string>TD.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Colombia</string>
			<key>Code</key>
			<string>+57</string>
			<key>Flag</key>
			<string>CO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Comoros</string>
			<key>Code</key>
			<string>+269</string>
			<key>Flag</key>
			<string>KM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Congo</string>
			<key>Code</key>
			<string>+242</string>
			<key>Flag</key>
			<string>CG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Democratic Republic of the Congo (Zaire)</string>
			<key>Code</key>
			<string>+243</string>
			<key>Flag</key>
			<string>CD.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cook Islands</string>
			<key>Code</key>
			<string>+682</string>
			<key>Flag</key>
			<string>CK.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Costa Rica</string>
			<key>Code</key>
			<string>+506</string>
			<key>Flag</key>
			<string>CR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ivory Coast</string>
			<key>Code</key>
			<string>+225</string>
			<key>Flag</key>
			<string>CI.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Croatia</string>
			<key>Code</key>
			<string>+385</string>
			<key>Flag</key>
			<string>HR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cuba</string>
			<key>Code</key>
			<string>+53</string>
			<key>Flag</key>
			<string>CU.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Netherlands Antilles</string>
			<key>Code</key>
			<string>+599</string>
			<key>Flag</key>
			<string>NL.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cyprus</string>
			<key>Code</key>
			<string>+537</string>
			<key>Flag</key>
			<string>CY.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Czech Republic</string>
			<key>Code</key>
			<string>+420</string>
			<key>Flag</key>
			<string>CZ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Denmark</string>
			<key>Code</key>
			<string>+45</string>
			<key>Flag</key>
			<string>DK.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Djibouti</string>
			<key>Code</key>
			<string>+253</string>
			<key>Flag</key>
			<string>DJ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dominica</string>
			<key>Code</key>
			<string>+1767</string>
			<key>Flag</key>
			<string>DM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Dominican Republic</string>
			<key>Code</key>
			<string>+1809</string>
			<key>Flag</key>
			<string>DO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Timor Leste</string>
			<key>Code</key>
			<string>+670</string>
			<key>Flag</key>
			<string>TL.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ecuador</string>
			<key>Code</key>
			<string>+593</string>
			<key>Flag</key>
			<string>EC.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Egypt</string>
			<key>Code</key>
			<string>+20</string>
			<key>Flag</key>
			<string>EG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>El Salvador</string>
			<key>Code</key>
			<string>+503</string>
			<key>Flag</key>
			<string>SV.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Equatorial Guinea</string>
			<key>Code</key>
			<string>+240</string>
			<key>Flag</key>
			<string>GQ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Eritrea</string>
			<key>Code</key>
			<string>+291</string>
			<key>Flag</key>
			<string>ER.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Estonia</string>
			<key>Code</key>
			<string>+372</string>
			<key>Flag</key>
			<string>EE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ethiopia</string>
			<key>Code</key>
			<string>+251</string>
			<key>Flag</key>
			<string>ET.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>South Georgia and the South Sandwich Islands</string>
			<key>Code</key>
			<string>+500</string>
			<key>Flag</key>
			<string>GE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Faroe Islands</string>
			<key>Code</key>
			<string>+298</string>
			<key>Flag</key>
			<string>FO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Fiji</string>
			<key>Code</key>
			<string>+679</string>
			<key>Flag</key>
			<string>FJ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Finland</string>
			<key>Code</key>
			<string>+358</string>
			<key>Flag</key>
			<string>FI.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Martinique</string>
			<key>Code</key>
			<string>+596</string>
			<key>Flag</key>
			<string>MQ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>French Guiana</string>
			<key>Code</key>
			<string>+594</string>
			<key>Flag</key>
			<string>GF.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>French Polynesia</string>
			<key>Code</key>
			<string>+689</string>
			<key>Flag</key>
			<string>PF.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Gabon</string>
			<key>Code</key>
			<string>+241</string>
			<key>Flag</key>
			<string>GA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Gambia</string>
			<key>Code</key>
			<string>+220</string>
			<key>Flag</key>
			<string>GM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Georgia</string>
			<key>Code</key>
			<string>+995</string>
			<key>Flag</key>
			<string>GE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ghana</string>
			<key>Code</key>
			<string>+233</string>
			<key>Flag</key>
			<string>GH.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Gibraltar</string>
			<key>Code</key>
			<string>+350</string>
			<key>Flag</key>
			<string>GI.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Greece</string>
			<key>Code</key>
			<string>+30</string>
			<key>Flag</key>
			<string>GR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Greenland</string>
			<key>Code</key>
			<string>+299</string>
			<key>Flag</key>
			<string>GL.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Grenada</string>
			<key>Code</key>
			<string>+1473</string>
			<key>Flag</key>
			<string>GD.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Guadeloupe</string>
			<key>Code</key>
			<string>+590</string>
			<key>Flag</key>
			<string>GP.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Guam</string>
			<key>Code</key>
			<string>+1671</string>
			<key>Flag</key>
			<string>GU.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Guatemala</string>
			<key>Code</key>
			<string>+502</string>
			<key>Flag</key>
			<string>GT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Guinea</string>
			<key>Code</key>
			<string>+224</string>
			<key>Flag</key>
			<string>GN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Guinea-Bissau</string>
			<key>Code</key>
			<string>+245</string>
			<key>Flag</key>
			<string>GW.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Guyana</string>
			<key>Code</key>
			<string>+592</string>
			<key>Flag</key>
			<string>GY.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Haiti</string>
			<key>Code</key>
			<string>+509</string>
			<key>Flag</key>
			<string>HT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Honduras</string>
			<key>Code</key>
			<string>+504</string>
			<key>Flag</key>
			<string>HN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hong Kong SAR China</string>
			<key>Code</key>
			<string>+852</string>
			<key>Flag</key>
			<string>HK.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hungary</string>
			<key>Code</key>
			<string>+36</string>
			<key>Flag</key>
			<string>HU.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Iceland</string>
			<key>Code</key>
			<string>+354</string>
			<key>Flag</key>
			<string>IS.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Indonesia</string>
			<key>Code</key>
			<string>+62</string>
			<key>Flag</key>
			<string>ID.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Iran</string>
			<key>Code</key>
			<string>+98</string>
			<key>Flag</key>
			<string>IR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Iraq</string>
			<key>Code</key>
			<string>+964</string>
			<key>Flag</key>
			<string>IQ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ireland</string>
			<key>Code</key>
			<string>+353</string>
			<key>Flag</key>
			<string>IE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Israel</string>
			<key>Code</key>
			<string>+972</string>
			<key>Flag</key>
			<string>IL.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Italy</string>
			<key>Code</key>
			<string>+39</string>
			<key>Flag</key>
			<string>IT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jamaica</string>
			<key>Code</key>
			<string>+1876</string>
			<key>Flag</key>
			<string>JM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jordan</string>
			<key>Code</key>
			<string>+962</string>
			<key>Flag</key>
			<string>JO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kazakhstan</string>
			<key>Code</key>
			<string>+77</string>
			<key>Flag</key>
			<string>KZ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kenya</string>
			<key>Code</key>
			<string>+254</string>
			<key>Flag</key>
			<string>KE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kiribati</string>
			<key>Code</key>
			<string>+686</string>
			<key>Flag</key>
			<string>KI.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>North Korea</string>
			<key>Code</key>
			<string>+850</string>
			<key>Flag</key>
			<string>KP.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>South Korea</string>
			<key>Code</key>
			<string>+82</string>
			<key>Flag</key>
			<string>KR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kuwait</string>
			<key>Code</key>
			<string>+965</string>
			<key>Flag</key>
			<string>KW.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kyrgyzstan</string>
			<key>Code</key>
			<string>+996</string>
			<key>Flag</key>
			<string>KG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Laos</string>
			<key>Code</key>
			<string>+856</string>
			<key>Flag</key>
			<string>LA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Latvia</string>
			<key>Code</key>
			<string>+371</string>
			<key>Flag</key>
			<string>LV.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Lebanon</string>
			<key>Code</key>
			<string>+961</string>
			<key>Flag</key>
			<string>LB.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Lesotho</string>
			<key>Code</key>
			<string>+266</string>
			<key>Flag</key>
			<string>LS.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Liberia</string>
			<key>Code</key>
			<string>+231</string>
			<key>Flag</key>
			<string>LR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Libya</string>
			<key>Code</key>
			<string>+218</string>
			<key>Flag</key>
			<string>LY.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Liechtenstein</string>
			<key>Code</key>
			<string>+423</string>
			<key>Flag</key>
			<string>LI.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Lithuania</string>
			<key>Code</key>
			<string>+370</string>
			<key>Flag</key>
			<string>LT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Luxembourg</string>
			<key>Code</key>
			<string>+352</string>
			<key>Flag</key>
			<string>LU.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Macau SAR China</string>
			<key>Code</key>
			<string>+853</string>
			<key>Flag</key>
			<string>MO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Macedonia</string>
			<key>Code</key>
			<string>+389</string>
			<key>Flag</key>
			<string>MK.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Madagascar</string>
			<key>Code</key>
			<string>+261</string>
			<key>Flag</key>
			<string>MG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Malawi</string>
			<key>Code</key>
			<string>+265</string>
			<key>Flag</key>
			<string>MW.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Malaysia</string>
			<key>Code</key>
			<string>+60</string>
			<key>Flag</key>
			<string>MY.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Maldives</string>
			<key>Code</key>
			<string>+960</string>
			<key>Flag</key>
			<string>MV.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mayotte</string>
			<key>Code</key>
			<string>+262</string>
			<key>Flag</key>
			<string>YT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Malta</string>
			<key>Code</key>
			<string>+356</string>
			<key>Flag</key>
			<string>MT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Marshall Islands</string>
			<key>Code</key>
			<string>+692</string>
			<key>Flag</key>
			<string>MH.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mauritania</string>
			<key>Code</key>
			<string>+222</string>
			<key>Flag</key>
			<string>MR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mauritius</string>
			<key>Code</key>
			<string>+230</string>
			<key>Flag</key>
			<string>MU.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mexico</string>
			<key>Code</key>
			<string>+52</string>
			<key>Flag</key>
			<string>MX.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Micronesia</string>
			<key>Code</key>
			<string>+691</string>
			<key>Flag</key>
			<string>FM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Moldova</string>
			<key>Code</key>
			<string>+373</string>
			<key>Flag</key>
			<string>MD.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Monaco</string>
			<key>Code</key>
			<string>+377</string>
			<key>Flag</key>
			<string>MC.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Mongolia</string>
			<key>Code</key>
			<string>+976</string>
			<key>Flag</key>
			<string>MN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Montenegro</string>
			<key>Code</key>
			<string>+382</string>
			<key>Flag</key>
			<string>ME.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Montserrat</string>
			<key>Code</key>
			<string>+1664</string>
			<key>Flag</key>
			<string>MS.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Morocco</string>
			<key>Code</key>
			<string>+212</string>
			<key>Flag</key>
			<string>MA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Myanmar</string>
			<key>Code</key>
			<string>+95</string>
			<key>Flag</key>
			<string>MM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Namibia</string>
			<key>Code</key>
			<string>+264</string>
			<key>Flag</key>
			<string>NA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Nauru</string>
			<key>Code</key>
			<string>+674</string>
			<key>Flag</key>
			<string>NR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Nepal</string>
			<key>Code</key>
			<string>+977</string>
			<key>Flag</key>
			<string>NP.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Netherlands</string>
			<key>Code</key>
			<string>+31</string>
			<key>Flag</key>
			<string>NL.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Nevis</string>
			<key>Code</key>
			<string>+1869</string>
			<key>Flag</key>
			<string>KN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>New Caledonia</string>
			<key>Code</key>
			<string>+687</string>
			<key>Flag</key>
			<string>NC.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>New Zealand</string>
			<key>Code</key>
			<string>+64</string>
			<key>Flag</key>
			<string>NZ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Nicaragua</string>
			<key>Code</key>
			<string>+505</string>
			<key>Flag</key>
			<string>NI.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Niger</string>
			<key>Code</key>
			<string>+227</string>
			<key>Flag</key>
			<string>NE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Nigeria</string>
			<key>Code</key>
			<string>+234</string>
			<key>Flag</key>
			<string>NG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Niue</string>
			<key>Code</key>
			<string>+683</string>
			<key>Flag</key>
			<string>NU.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Northern Mariana Islands</string>
			<key>Code</key>
			<string>+1670</string>
			<key>Flag</key>
			<string>MP.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Norway</string>
			<key>Code</key>
			<string>+47</string>
			<key>Flag</key>
			<string>NO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Oman</string>
			<key>Code</key>
			<string>+968</string>
			<key>Flag</key>
			<string>OM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Palau</string>
			<key>Code</key>
			<string>+680</string>
			<key>Flag</key>
			<string>PW.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Palestinian Territory</string>
			<key>Code</key>
			<string>+970</string>
			<key>Flag</key>
			<string>PS.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Panama</string>
			<key>Code</key>
			<string>+507</string>
			<key>Flag</key>
			<string>PA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Papua New Guinea</string>
			<key>Code</key>
			<string>+675</string>
			<key>Flag</key>
			<string>PG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Paraguay</string>
			<key>Code</key>
			<string>+595</string>
			<key>Flag</key>
			<string>PY.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Peru</string>
			<key>Code</key>
			<string>+51</string>
			<key>Flag</key>
			<string>PE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Philippines</string>
			<key>Code</key>
			<string>+63</string>
			<key>Flag</key>
			<string>PH.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Poland</string>
			<key>Code</key>
			<string>+48</string>
			<key>Flag</key>
			<string>PL.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Portugal</string>
			<key>Code</key>
			<string>+351</string>
			<key>Flag</key>
			<string>PT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Puerto Rico</string>
			<key>Code</key>
			<string>+1787</string>
			<key>Flag</key>
			<string>PR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Qatar</string>
			<key>Code</key>
			<string>+974</string>
			<key>Flag</key>
			<string>QA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Reunion</string>
			<key>Code</key>
			<string>+262</string>
			<key>Flag</key>
			<string>RE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Romania</string>
			<key>Code</key>
			<string>+40</string>
			<key>Flag</key>
			<string>RO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Russia</string>
			<key>Code</key>
			<string>+7</string>
			<key>Flag</key>
			<string>RU.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rwanda</string>
			<key>Code</key>
			<string>+250</string>
			<key>Flag</key>
			<string>RW.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Samoa</string>
			<key>Code</key>
			<string>+685</string>
			<key>Flag</key>
			<string>WS.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>San Marino</string>
			<key>Code</key>
			<string>+378</string>
			<key>Flag</key>
			<string>SM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Saudi Arabia</string>
			<key>Code</key>
			<string>+966</string>
			<key>Flag</key>
			<string>SA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Senegal</string>
			<key>Code</key>
			<string>+221</string>
			<key>Flag</key>
			<string>SN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Serbia</string>
			<key>Code</key>
			<string>+381</string>
			<key>Flag</key>
			<string>RS.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Seychelles</string>
			<key>Code</key>
			<string>+248</string>
			<key>Flag</key>
			<string>SC.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sierra Leone</string>
			<key>Code</key>
			<string>+232</string>
			<key>Flag</key>
			<string>SL.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Singapore</string>
			<key>Code</key>
			<string>+65</string>
			<key>Flag</key>
			<string>SG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Slovakia</string>
			<key>Code</key>
			<string>+421</string>
			<key>Flag</key>
			<string>SK.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Slovenia</string>
			<key>Code</key>
			<string>+386</string>
			<key>Flag</key>
			<string>SI.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Solomon Islands</string>
			<key>Code</key>
			<string>+677</string>
			<key>Flag</key>
			<string>SB.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>South Africa</string>
			<key>Code</key>
			<string>+27</string>
			<key>Flag</key>
			<string>ZA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Spain</string>
			<key>Code</key>
			<string>+34</string>
			<key>Flag</key>
			<string>ES.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sri Lanka</string>
			<key>Code</key>
			<string>+94</string>
			<key>Flag</key>
			<string>LK.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sudan</string>
			<key>Code</key>
			<string>+249</string>
			<key>Flag</key>
			<string>SD.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Suriname</string>
			<key>Code</key>
			<string>+597</string>
			<key>Flag</key>
			<string>SR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Swaziland</string>
			<key>Code</key>
			<string>+268</string>
			<key>Flag</key>
			<string>SZ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sweden</string>
			<key>Code</key>
			<string>+46</string>
			<key>Flag</key>
			<string>SE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Switzerland</string>
			<key>Code</key>
			<string>+41</string>
			<key>Flag</key>
			<string>CH.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Syria</string>
			<key>Code</key>
			<string>+963</string>
			<key>Flag</key>
			<string>SY.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Taiwan</string>
			<key>Code</key>
			<string>+886</string>
			<key>Flag</key>
			<string>TW.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Tajikistan</string>
			<key>Code</key>
			<string>+992</string>
			<key>Flag</key>
			<string>TJ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Thailand</string>
			<key>Code</key>
			<string>+66</string>
			<key>Flag</key>
			<string>TH.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Togo</string>
			<key>Code</key>
			<string>+228</string>
			<key>Flag</key>
			<string>TG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Tokelau</string>
			<key>Code</key>
			<string>+690</string>
			<key>Flag</key>
			<string>TK.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Tonga</string>
			<key>Code</key>
			<string>+676</string>
			<key>Flag</key>
			<string>TO.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Trinidad and Tobago</string>
			<key>Code</key>
			<string>+1868</string>
			<key>Flag</key>
			<string>TT.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Tunisia</string>
			<key>Code</key>
			<string>+216</string>
			<key>Flag</key>
			<string>TN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Turkey</string>
			<key>Code</key>
			<string>+90</string>
			<key>Flag</key>
			<string>TR.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Turkmenistan</string>
			<key>Code</key>
			<string>+993</string>
			<key>Flag</key>
			<string>TM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Turks and Caicos Islands</string>
			<key>Code</key>
			<string>+1649</string>
			<key>Flag</key>
			<string>TC.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Tuvalu</string>
			<key>Code</key>
			<string>+688</string>
			<key>Flag</key>
			<string>TV.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Uganda</string>
			<key>Code</key>
			<string>+256</string>
			<key>Flag</key>
			<string>UG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ukraine</string>
			<key>Code</key>
			<string>+380</string>
			<key>Flag</key>
			<string>UA.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>United Arab Emirates</string>
			<key>Code</key>
			<string>+971</string>
			<key>Flag</key>
			<string>AE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Uruguay</string>
			<key>Code</key>
			<string>+598</string>
			<key>Flag</key>
			<string>UY.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>U.S. Virgin Islands</string>
			<key>Code</key>
			<string>+1340</string>
			<key>Flag</key>
			<string>VG.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Uzbekistan</string>
			<key>Code</key>
			<string>+998</string>
			<key>Flag</key>
			<string>UZ.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vanuatu</string>
			<key>Code</key>
			<string>+678</string>
			<key>Flag</key>
			<string>VU.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Venezuela</string>
			<key>Code</key>
			<string>+58</string>
			<key>Flag</key>
			<string>VE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vietnam</string>
			<key>Code</key>
			<string>+84</string>
			<key>Flag</key>
			<string>VN.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Wallis and Futuna</string>
			<key>Code</key>
			<string>+681</string>
			<key>Flag</key>
			<string>WF.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Yemen</string>
			<key>Code</key>
			<string>+967</string>
			<key>Flag</key>
			<string>YE.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Zambia</string>
			<key>Code</key>
			<string>+260</string>
			<key>Flag</key>
			<string>ZM.png</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Zimbabwe</string>
			<key>Code</key>
			<string>+263</string>
			<key>Flag</key>
			<string>ZW.png</string>
		</dict>
	</array>
</dict>
</plist>
